# All of my playlists #
playlists/*
*.db

# Tracking new videos to add #
New vid/

# debugging #
output.txt

# Cool files #
test.py

# Other #
src/Extensions/*
src/__pycache__/

# No need to update #
globals.py
config.ini